{% extends 'myshop/ui.html' %}
{% load static %}

{% block title %}
| Customers
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Customers</h5>
            <div class="row table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Sl No.</th>
                            <th scope="col">Customer</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <script>
                        var slno = 1;
                    </script>
                    <tbody id="product-list" name="product-list">
                        {% for c in customers %}
                        {% if c.name != "Cash Sale" %}
                        <tr>
                            <td id="slno{{c.customer_id}}"></td>
                            <td>{{c.name}}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.phone}}</td>
                            <td>{{c.address}},{{c.address_city}},{{c.address_state}}-{{c.address_pin}}</td>
                        </tr>
                        {% endif %}
                        <script>
                            document.getElementById('slno{{c.customer_id}}').innerHTML = slno;
                            slno++;
                        </script>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
        <a class="btn btn-primary btn-lg fixed-right text-center" href="{% url 'addcustomer' shopdomain=request.session.shopdomain %}"
            style="padding: 10px; position: fixed; bottom: 45px; right: 56px; z-index: 999;">
            <i class="ti ti-plus"></i> New
        </a>
    </div>
</div>

{% endblock %}
